.Field {
  float: left;
  padding-right: 5px;
}
.EditButton {
  float: left;
}

.FilmContainerHead {
  height: 100px;
  width: 95%;
}

.FilmContainerBody {
  height: 60%;
  width: 95%;
}

.FilmContainer {
  width: 95%;
  padding-left: 5%;
  height: 400px;
}

.EditableField {
  padding-right: 20px;
  width: 30%;
  height: 30px;
  float: left;
}

.ActorListEntry {
  padding-right: 45px;
}

.ActorsListForFilm,
.FilmListForActor {
  padding-left: 30px;
}
