.Field {
  float: left;
  padding-right: 5px;
}
.EditButton {
  float: left;
}

.FilmContainerHead {
  background-color: pink;
  height: 100px;
  width: 95%;
}

.FilmContainerBody {
  background-color: aqua;
  height: 150px;
  width: 95%;
}

.FilmContainer {
  width: 95%;
  padding-left: 5%;
  background-color: red;
  height: 330px;
}

.EditableField {
  padding-right: 20px;
  width: 30%;
  height: 30px;
  background-color: brown;
  float: left;
}

.ActorListEntry {
  padding-right: 45px;
}

.ActorsListForFilm {
  padding: 30px;
}
